@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* base styles */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}