.cont {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 960px;
    margin: 60px auto;
    padding: 0 30px;
}

.side_menu form {
    padding: 20px;
    background-color: teal;
    border-radius: 10px;
}

.side_menu fieldset {
    border: none;
}

.side_menu legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.side_menu input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.side_menu label {
    display: block;
    margin: 20px auto;
    color: #fff;
}

.side_menu textarea {
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

.side_menu button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 12px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
}

.content_list {
    margin: 0;
}

.content_list li {
    border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
    padding: 30px;
    position: relative;
    border-left: 4px solid teal;
}

.content_list li+li {
    margin: 30px 0;
}

.content_list .title {
    font-size: 1.5em;
}

.content_list .text {
    font-size: 1.3em;
}

.content_list button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: teal;
    border: 0;
    color: #fff;
    padding: 12px 8px;
    line-height: 0;
    cursor: pointer;
}