.login_form {
    width: 360px;
    margin: 60px auto;
    padding: 20px;
}

.login_form legend {
    font-size: 1.5em;
    padding: 10px;
}

.login_form label {
    display: block;
    margin: 30px auto;
}

.login_form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 6px;
    border: none;
    border-bottom: 1px solid black;
}

.login_form button {
    margin-top: 40px;
    float: right;
    background-color: teal;
    padding: 6px 12px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}